# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# All rights reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

[Unit]
Description=gdsp0rpc Service
Requires=dev-fastrpc\x2dgdsp0\x2dsecure.device
After=dev-fastrpc\x2dgdsp0\x2dsecure.device
SourcePath=/usr/lib/qcom-fastrpc1/gdsprpcd

[Service]
User=fastrpc
Group=fastrpc
Restart=always
ExecStartPre=+/bin/mkdir -p /usr/lib/dsp/gdsp0
ExecStartPre=+/bin/bash -c 'SOC=$(cat /sys/devices/soc0/soc_id); \
if [ "$SOC" = "676" ]; then \
    ln -sf /usr/share/qcom/qcs9075/Radxa/AIRbox-Q900/dsp/gdsp0/* /usr/lib/dsp/gdsp0; \
fi'

ExecStart=/usr/lib/qcom-fastrpc1/gdsprpcd rootpd gdsp0
