Source: radxa-firmware
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: misc
Priority: optional
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,

Package: radxa-firmware
Architecture: all
Section: misc
Priority: optional
Depends: ${misc:Depends},
Description: Radxa supplemental firmware
 This package contains firmwares that are not
 shipped by Debian.
